<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appenders -->
    <appender name="console-infolog"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p %m%n" />
        </layout>
    </appender>
    <appender name="CONSOLE"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p - %C{1}.%M(%L) | %m%n" />
        </layout>
    </appender>

    <appender name="FILEAPPENDER"
        class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="file" value="kr/Sunshiny/logs/Execute_free.log" />
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{MMM dd hh:mm:ss aa} %p - %C{1}.%M(%L) | %m%n" />
        </layout>
    </appender>

    <appender name="ADVICECONSOLE"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p - %m%n" />
        </layout>
    </appender>

    <appender name="CONSOLE_SERVER"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p[%d{yyy-MM-dd HH:mm:ss}] | %m%n" />
        </layout>
    </appender>

    <!-- logger 의 name 에 정의된 패키지의 하위를 디버깅 함. -->
    <logger name="pe.miachel.springcore">
        <level value="INFO" />
    </logger>
    <root>
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>